MONGODB_URI=
SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_KEY=
SMTP_PORT=587
SMTP_USER=
CLOUDFLARE_RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=0x4AAAAAACF0S1gszGYccjZu
SMTP_PASS=
FROM_EMAIL=contact@boudradev.space
FROM_NAME=BoudraDev