MONGODB_URI=
BREVO_SMTP_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=true
CLOUDFLARE_RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
FROM_EMAIL=
FROM_NAME=
NEXT_PUBLIC_SITE_URL=